<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.main.java.WebsitesMapper">
    <select id="selectBlog" resultType="Websites" parameterType="int" >
   select * from websites where id = #{id}
</select>

    <update id="UpdateWebsites" parameterType="int" >
       update websites set url='www.sdssds.com' where id =2
</update>

    <insert id="AddWebsites" parameterType="Websites">
       insert into Websites(name,url,alexa,country) values (#{name},#{url},#{alexa},#{country})
</insert>

    <delete id="DeleteWebsites" parameterType="int">
       delete from Websites where id =#{id}
</delete>
</mapper>